export TEMPLATE_GLOBAL_DIR="testdata"
export TEMPLATE_JSON_FILE="testdata/templates.json"
export TEMPLATE_JSON_BACKUP_FILE="testdata/templates_backup.json"
export DEFAULT_ICON_PORTRAIT="e9f9"
export DEFAULT_ICON_LANDSCAPE="e9fd"

